.THIS.slds-p-around_small .pait{
    color:red;
    font-size:30px;
}

.THIS.slds-p-around_small .labelsize{
    color:Yello;
    font-size:25px;
}

.THIS {
   
    background-color:linen;
    
}

.THIS.fsize{
   font-size:40px;
}